Binaries
DerivedDataCache
Intermediate
Saved
Plugins

*.blend1
*.VC.db
*.opensdf
*.opendb
*.sdf

*.suo
*.xcodeproj
*.xcworkspace
.vs/Bonhomme7Heure/v16/ipch/AutoPCH/24e3f8db3638faf0/GRABBER.ipch
.vs/Bonhomme7Heure/v16/ipch/AutoPCH/83ec236bec1b8ba9/MAINCHARACTER.ipch
.vs/Bonhomme7Heure/v16/ipch/AutoPCH/d66f06e71cb876dc/GRABBER_CHILDREN.ipch
*.au
